# Port configuration
PORT=5005

# Environment
NODE_ENV=production

# Database connection string for PostgreSQL
DATABASE_URL="postgresql://postgres:963123ms7refc@db.iortbvbnqzsbnytmvcjn.supabase.co:5432/postgres?pgbouncer=true&connection_limit=1"

# JWT Secret Key
JWT_SECRET="7c9f4b1e8d3a6c5b2f0e9d8c7b6a5f4e3d2c1b0a9f8e7d6c5b4a3f2e1d0c9b8a"
